[user]
	name = Arialdo Martini
	email = arialdomartini@gmail.com

[format]
	pretty = oneline

[color]
	ui = false

[alias]
	co = commit -m
	go = checkout

	# Show an ascii tree of the current branch
	tr  = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %C(cyan)<%an>%Creset %Cgreen(%cd)' --abbrev-commit --date=relative

	# Show an ascii tree of all branches
	tra = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %C(cyan)<%an>%Creset %Cgreen(%cd)' --abbrev-commit --date=relative --all

	# Non-verbose status
	st = status --short --branch

	# List the last commits of each branch, sorted by date
	last-branches = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short) [%(committername)]'
	lastb = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short) [%(committername)]'

	# Smarter blame ignores white space (-w), moving text (-M) and  moving text into other files (-C)
	bl = blame -wMC

	# Undo
	undo = reset --soft HEAD^

	# Stand-up! Shows a list of what I worked on yesterday so I can be prepared for my stand-up meeting.
	standup = "!git log --since yesterday  --author `git config user.email` --pretty=oneline"

	# Prints a list of all files ignored
	ignored = ls-files --others -i --exclude-standard

	# List all available aliases
	aliases = config --get-regexp ^alias

	# Word diff
	diffw = diff --word-diff=plain

	# Running gitk in the background
	k = "!gitk&"
	kk = "!gitk --all&"
	ka = "!git kk"

	# Rename a branch
	rename-branch = "!f() { current_branch=`git rev-parse --abbrev-ref HEAD` && git checkout -b $1 && git branch -d $current_branch;  }; f "
